{{ define "main" }} {{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">
  <article class="md:col-span-2 prose lg:prose-lg">
    <header class="not-prose">
      <h1 id="title" class="text-4xl font-bold leading-normal">{{ .Title }}</h1>

      <div id="lead" class="my-6">
        <p class="font-bold">{{ .Params.description }}</p>
      </div>

      <div id="writer" class="flex items-center space-x-4">
        {{- $name := .Site.Params.Author.name -}} {{- with $avatar :=
        resources.Get .Site.Params.Author.avatar }}

        <img
          class="w-12 h-12 bg-black rounded-full"
          src="{{ $avatar.Permalink }}"
          alt="{{ $name }} avatar"
          width="{{ $avatar.Width }}"
          height="{{ $avatar.Height }}"
        />

        {{ end -}}

        <ul
          class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto"
        >
          <li class="font-semibold my-2">{{ .Site.Params.Author.name }}</li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00"
            -}} {{- $dateHuman := .Date | time.Format "02 tháng 01, 2006" -}}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{ .ReadingTime }} phút đọc
          </li>
        </ul>
      </div>
    </header>

    <figure id="featureimage" class="rounded-xl aspect-video">
      {{- if .Params.image }} {{- if ( strings.HasPrefix .Params.image "http" )
      }}

      <img
        class="rounded-lg"
        src="{{ .Params.image }}"
        alt="{{ .Params.title }}"
      />

      {{- else }} {{- with $image := .Resources.GetMatch .Params.image }} {{-
      $image = $image.Resize "750x" }}
      <img
        class="rounded-lg"
        src="{{ $image.Permalink }}"
        alt="{{ .Params.title }}"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
      />
      {{- end }} {{- end }} {{- end }} {{- if ( isset .Params "caption" ) }}
      <figcaption class="text-center italic text-xs">
        {{ .Params.caption }}
      </figcaption>
      {{- end }}
    </figure>

    <div id="content" class="mb-14">
      <!-- Content -->

      {{- .Content -}}

      <!-- Tags list -->

      {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
    </div>

    <footer id="content-footer" class="not-prose">
      <!-- <div id="comment" class="border p-8 bg-zinc-100 rounded-2xl">
        <h2 class="text-xl font-semibold">Comment</h2>

        <p>Disqus comment here</p>

        {{- /* template "_internal/disqus.html" . */ -}}
      </div> -->

      <div
        id="author-box"
        class="my-8 md:my-14 border p-8 bg-zinc-100 rounded-2xl"
      >
        {{- $authorName := .Site.Params.Author.name -}} {{- with $avatar :=
        resources.Get .Site.Params.Author.avatar }}
        <img
          class="w-20 h-20 rounded-full"
          src="{{ $avatar.Permalink }}"
          alt="{{ $authorName }}"
        />
        {{ end -}}

        <h2 class="text-xl font-bold my-4">
          Tác giả: {{ .Site.Params.Author.name }}
        </h2>

        <p class="mb-4">{{ .Site.Params.Author.bio }}</p>

        <ul class="flex flex-wrap space-x-4">
          <!-- GitHub -->
          <li>
            <a
              class="flex items-center decoration-auto hover:underline"
              href="https://www.github.com/thanhhieutiet"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <span class="ml-2">GitHub</span>
            </a>
          </li>
          <!-- Facebook -->
          <li>
            <a
              class="flex items-center decoration-auto hover:underline"
              href="https://www.facebook.com/thanhieu.pir"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                />
              </svg>
              <span class="ml-2">Facebook</span>
            </a>
          </li>
          <!-- Email -->
          <li>
            <a
              class="flex items-center decoration-auto hover:underline"
              href="mailto:thanhhieutiet@gmail.com"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 4.793c0-.82-.524-1.374-1.562-1.374H1.562C.524 3.419 0 3.973 0 4.793v6.414c0 .82.524 1.374 1.562 1.374h12.876c1.038 0 1.562-.554 1.562-1.374V4.793Zm-2 1.066L8 8.881l-6-3.022v-.066h12Z"
                />
              </svg>
              <span class="ml-2">Email</span>
            </a>
          </li>

          <li>
            <a
              class="flex items-center decoration-auto hover:underline"
              href="https://www.linkedin.com/in/tiet-thanh-minh-hieu-860548294/"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65
          C15.474 0 16 .513 16 1.146v13.708
          C16 15.487 15.474 16 14.825 16H1.175
          C.526 16 0 15.487 0 14.854V1.146zM4.943 
          13.569V6.169H2.542v7.4h2.401zM3.743 
          5.092c.837 0 1.357-.554 1.357-1.248
          -.015-.709-.52-1.248-1.341-1.248S2.4 
          3.135 2.4 3.844c0 .694.52 1.248 1.327 
          1.248h.016zM13.458 13.569V9.359
          c0-2.241-1.196-3.283-2.79-3.283
          -1.288 0-1.87.709-2.197 1.207h.031V6.169H6.102
          c.031.662 0 7.4 0 7.4h2.4v-4.137
          c0-.221.016-.441.081-.599.177-.441.58-.9 
          1.257-.9.887 0 1.243.679 1.243 1.674v3.962h2.375z"
                />
              </svg>
              <span class="ml-2">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div id="related-post" class="">
        <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">
          Bài viết khác
        </h2>

        {{- $related := .Site.RegularPages.Related . | first 2 -}} {{- with
        $related -}}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {{- range . }} {{- partial "content/card.html" . -}} {{- end }}
        </div>

        {{- end }}
      </div>
    </footer>
  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">{{- partial "content/aside.html" . -}}</aside>
</div>

{{ end }}
