<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
  <div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">
    <div class="w-full md:w-3/5 lg:pr-10 text-white">
      <h3 class="text-2xl font-semibold mb-4">
        Theo dõi hành trình AI & Cybersecurity cùng tôi
      </h3>

      <p>
        Đăng ký nhận bản tin để không bỏ lỡ các bài viết mới nhất về AI
        Security, Malware Analysis và kinh nghiệm học tập thực tế từ blog của
        tôi – <strong>Tiết Thanh Minh Hiếu</strong>.
      </p>
    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">
      <form class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4">
        <input
          class="w-full lg:w-3/5 px-6 py-2 rounded-full"
          type="text"
          placeholder="Nhập email của bạn..."
        />

        <button
          class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white text-blue-500 font-semibold hover:opacity-90 transition"
        >
          Đăng ký
        </button>
      </form>
    </div>
  </div>
</div>
